{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_action %}{% url 'horizon:blogs:blogs:create' %}{% endblock %}

{% block modal-header %}{% trans "Create" %}{% endblock %}

{% block modal-body %}
<div>
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>l
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create" %}" />
  <a href="{% url 'horizon:blogs:blogs:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}